body{
    background-color: rgb(215,215,215);

}
nav{

font-family:Courier New, Courier, monospace; 
color:  white;
text-align: right;
height: px;

}
a{
    text-align: right;
}
#text{
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;


}

.foot {
    height: auto;
    padding-top: 50px;
    text-align: center;
    background: #eee;
   
}

li{
    list-style: none;

}
#foot{
text-align: right;

}

.secBack{
    background-color:rgb(150,150,150);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.secBack2{
background-color: rgb(215,215,215);
font-family: Georgia, 'Times New Roman', Times, serif;
}